/*
  Author:  Michael Mulligan
  Created:  4/22/19, 11:40 pm
  Last Edit:  5/9/19, 8:00 pm
*/
body {
  font-family: arial, helvetica, sans-serif;
  background-color: forestgreen;
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
}

header {
  background-color: palegreen;
  color: brown;
  font-family: "Miama";
  height: 150px;
  text-align: center;
  padding: 10px;
  font-size: 5.1em;
}

@font-face {

}

jumbotron {background-color: forestgreen; color: palegreen;}

div {background-color: forestgreen; color: palegreen;}

/* container styles */
.container-fluid

/* table styles */
.table-responsive {
  background-color: forestgreen;
  border-collapse: collapse;
  padding: 10px;
  width: 90%;
  margin: auto;
  text-align: center;
}

tr {height: 5px;}

th {
  height: 10px;
  text-align: center;
  }

td { padding: 5px;}

form {float: left;}

label {text-align: left;}

.left {float:left;}

.right {float:right;}

.clear-float {clear:both;}

footer {
  background-color: palegreen;
  color: brown;
  height: 80px;
  text-align: center;
  padding: 20px;
  margin: auto;
}
